<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="post-form">
      <%= render 'shared/post_form' %>
    </section>
  </aside>
</div>