<% provide(:title, 'Contact')%>
<p>
  You can contact the creator of this app on their
  <a href="https://github.com/ZacTredger">GitHub page</a>, and you can find the source code in
  <a href="https://github.com/ZacTredger/microblogger">this repository</a>.
</p>
<p>
  And you can contact the Ruby on Rails Tutorial on their
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
